[submodule "bin/ngincat"]
	path = bin/ngincat
	url = git@github.com:jaburns/ngincat.git
[submodule "themes/solarized"]
	path = themes.symlink/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vim.symlink/bundle/vim-pathogen"]
	path = vim.symlink/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
