[submodule "bin/ngincat"]
	path = bin/ngincat
	url = git@github.com:jaburns/ngincat.git
[submodule "themes/solarized"]
	path = themes.symlink/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vim.symlink/bundle/vim-pathogen"]
	path = vim.symlink/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim.symlink/bundle/vim-sensible"]
	path = vim.symlink/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim.symlink/bundle/vim-unimpaired"]
	path = vim.symlink/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
