[submodule "bin/ngincat"]
	path = bin/ngincat
	url = git@github.com:jaburns/ngincat.git
[submodule "themes/solarized"]
	path = themes.symlink/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vim.symlink/bundle/vim-pathogen"]
	path = vim.symlink/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim.symlink/bundle/vim-sensible"]
	path = vim.symlink/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim.symlink/bundle/vim-unimpaired"]
	path = vim.symlink/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim.symlink/bundle/vim-colors-solarized"]
	path = vim.symlink/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim.symlink/bundle/vim-indent-guides"]
	path = vim.symlink/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim.symlink/bundle/vim-sleuth"]
	path = vim.symlink/bundle/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "vim.symlink/bundle/ctrlp"]
	path = vim.symlink/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim.symlink/bundle/vim-polyglot"]
	path = vim.symlink/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim.symlink/bundle/jedi-vim"]
	path = vim.symlink/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "vim.symlink/bundle/vim-go"]
	path = vim.symlink/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
