SHELL=/bin/bash
PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/Users/${user}/bin:$PATH

# * (entire range of values)
# list (1,2) or range (1-3)
# / (interval) e.g. hour: 0-23/2 (every two hours)
# minute (0-59)
# |     hour (0-23)
# |     |       day of the month (1-31)
# |     |       |       month of the year (jan-dec or 1-12)
# |     |       |       |       day of the week (mon-sun or 1-7)
# |     |       |       |       |       commnd
# |     |       |       |       |       |
0	23	*	*	*	/Users/${USER}/bin/backup_cron.sh &> /dev/null
@reboot	/Users/${USER}/bin/backup_cron.sh &> /dev/null
0	23	*	*	*	/Users/${USER}/bin/create_locate_indices.sh &> /dev/null
@reboot	/Users/${USER}/bin/create_locate_indices.sh &> /dev/null

